extends partials/skeleton.jade

block body
	header.header.section-diagonal.section-diagonal--upwards
		nav.nav
			ul.lang-options
				li: a(href="../index.html").lang__btn En
				li: a(href="index.html").lang__btn.lang__btn--activated Cs
				li: a(href="../gr/index.html").lang__btn Ελ

			ul.nav__list
				li: a(href="#about") O mně
				li: a(href="#work") Práce
				li: a(href="#contact") Kontakt
		.logo
			h1.logo__title Radek Palisa
			p.logo__desc Web Design &amp Development

	section.about#about
		h1.section-title.section-title--about O mně
		section.about__graphic
			figure.about-icon.about-icon--code
				figcaption Code
			figure.about-icon.about-icon--pencil
				figcaption Design
			figure
				img.profile-pic(src="../img/headshot.jpg", alt="a profile picture of me")
			figure.about-icon.about-icon--responsive
				figcaption Cross-Device
			figure.about-icon.about-icon--wordpress
				figcaption WordPress
		p.about__opener Ahoj,
		p.about__intro jmenuji se Radek a usiluji o to stát se profesionálním web designerem and developerem. Podívejte se na mojí práci a dejte mi vědět, co si myslíte. 

	section.work.section-diagonal.section-diagonal--downwards.section-diagonal--upwards
		h1.section-title.section-title--work#work Má poslední práce
		section.work__example
			.screen-set
				.screen-set__canvas
			.work__example__desc
				h2 Auto Caravan Sport s.r.o.
				p Statický web s cílem vyjádřit podnikatelský záměr klienta ale také posloužit jako jeho osobní prezentace. Za tímto účelem jsem zvolil design jedné dlouhé strany s několika podstranami pro doplňující obsah. Stránky jsou postavené na sémanticky napsaném HTML5, modulárně sestaveném CSS3, vlastně napsaném Jquery a jedním externím JS pluginem pro posouvač fotek. Design se přizpůsobuje rozšliným velikostem obrazovek podle potřeby a činí tak tyto stránky plně responzivnímy.
				.work__example__desc__link
					a(href="http://autocaravansport.cz") Přejít na web

	section.contact#contact
		h1.section-title.section-title--contact Kontakt
		hr
		p.contact__email radek.palisa@gmail.com
		hr
		p.contact__findme Najděte mně na
		.social-icons
			a.icon(href="https://www.linkedin.com/in/radek-palisa-96332886")
				.icon__canvas.icon__canvas--linkedin
			a.icon(href="https://github.com/Radek-Palisa")
				.icon__canvas.icon__canvas--github
			a.icon(href="https://www.instagram.com/radekpalisa")
				.icon__canvas.icon__canvas--instagram

	footer.footer.section-diagonal.section-diagonal--downwards
		p.footer__copyright Copyright 2016 Radek Palisa
		ul.nav__list
			li: a(href="#about") O mně
			li: a(href="#work") Práce
			li: a(href="#contact") Kontakt
