.accordion-outer {
    min-height: 540px;
    margin-bottom: 50px; 
}

.accordion {
    margin: 0 auto;
    padding: 0 14px;
    max-width: 540px;
    position: relative;
}
  
.liner {
    z-index: 1;
    content: '';
    position: absolute;
    top: 15px;
    width: 2px;
    left: 19px;
    background-image: linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,.8) 80%, rgba(255,255,255,.6));
}

.accordion-content {
    color: $white;
    padding-left: 30px;
    @media (min-width: $laptop) {
        padding-left: 40px;
    }
    font-family: sans-serif;
    line-height: 1.8;
    font-weight: 300;
    
    > p {
        padding: 6px 0 16px;
        margin: 0;
    }
}
  
.accordion-content {
    overflow: hidden
}
  
.accordion-trigger { 
    padding: 10px 20px 10px 30px;
    margin: 5px 0;
    border: none;
    position: relative;
    background-color: transparent;
    outline: none;

    @media (min-width: $laptop) {
        padding: 10px 20px 10px 40px;
    }
  }
  
.accordion-trigger::before {
    z-index: 2;
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: rgba($dark-purple, 1);
    left: 0;
    top: 50%;
    margin-top: -10px;
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,.6);
    //transition: transform 0.15s ease-in-out
  
}
.accordion-trigger::after {
    z-index: 2;
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: rgba(white, .6);
    left: 2px;
    top: 50%;
    margin-top: -8px;
    border-radius: 50%;
}
  
.accordion-trigger[aria-expanded="true"] {
    
    &::before {
        //background-color: white;
        border: 1px solid rgba(255,255,255,1);
        transform: scale(1); // !important;
    }

    &::after {
        background-color: rgba(white, 1);
    }
  }

.accordion-trigger:focus {

    // > img {
    //     transform: scale(1.05);  
    // } 
    &::before {
        //box-shadow: 0 0 15px 0px #ffffff6e;
        border: 1px solid rgba(255,255,255,1);
        transform: scale(1.15);
    }
    &::after {
        background-color: rgba(white, 1);
    }
}
  