.accordion-outer {
    position: relative;
    margin-bottom: 50px;

    &-js {
        > div {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
}

.accordion {
    position: relative;
    margin: 0 auto;
    padding: 0 14px;
    max-width: 625px;
}
  
.tracker {
    z-index: 1;
    content: '';
    position: absolute;
    top: 15px;
    width: 2px;
    left: 19px;
    background-image: linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,.8) 80%, rgba(255,255,255,.6));

    @media (min-width: $laptop) {
        left: 104px;
    }
}

.accordion-content {
    position: relative;
    color: $white;
    margin-left: 30px;
    @media (min-width: $laptop) {
        margin-left: 125px;
    }
    line-height: 1.8;
    font-weight: 300;
    
    > p {
        //
        position: absolute;
        top: 0;
        left: 0;
        //
        padding: 6px 0 16px;
        margin: 0;

        > span {
            display: block;
            margin-bottom: 1em;

            @media (min-width: $laptop) {
                display: none;
            }
        }
    }
}
  
.accordion-content {
    overflow: hidden
}
  
.accordion-trigger { 
    padding: 10px 20px 10px 30px;
    margin: 5px 0;
    border: none;
    position: relative;
    background-color: transparent;
    outline: none;

    @media (min-width: $laptop) {
        padding: 10px 20px 10px 125px;
    }

    > span {
        display: none;
        width: 65px;
        color: rgba(white, 0.6);
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -15px;
        font-size: 14px;
        text-align: right;

        @media (min-width: $laptop) {
            display: block;
        }
    }
  }
  
.accordion-trigger[aria-expanded] {
  
    &::before, &::after {
        z-index: 2;
        content: '';
        position: absolute;
        top: 50%;
        border-radius: 50%;
    }
    &::before {
        width: 12px;
        height: 12px;
        background-color: rgba($dark-purple, 1);
        left: 0;
        margin-top: -10px;
        border: 1px solid rgba(255,255,255,.6);

        @media (min-width: $laptop) {
            left: 85px;
        }
    }
    &::after {
        width: 8px;
        height: 8px;
        background-color: rgba(white, .6);
        left: 2px;
        margin-top: -8px;

        @media (min-width: $laptop) {
            left: 87px;
        }
    }
}
  
.accordion-trigger[aria-expanded="true"] {
    
    &::before {
        border: 1px solid rgba(255,255,255,1);
        transform: scale(1); //!important;
    }

    &::after {
        background-color: rgba(white, 1);
    }

    > span {
        color: rgba(white, 1);
        //transform: scale(1) //!important;
    }
  }

.accordion-trigger:focus {

    &::before {
        //box-shadow: 0 0 15px 0px #ffffff6e;
        border: 1px solid rgba(255,255,255,1);
        transform: scale(1.15);
    }
    &::after {
        background-color: rgba(white, 1);
    }

    > span {
        color: rgba(white, 1);
        transform: scale(1.1);
    }
}
  