// Breakpoints
$mobile : 26em;
$laptop : 48em;

// to be set to 91% opacity
$dark-blue : #282839;
$dark-purple : #330033;
$dark-green : #063406;

$white : #fff;
$highlight-color : #f2b632; // yellowish
$dark-grey : #677077;
$text-color: #4e4e53;
$light-grey : #b5b5b7;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	font-size: 14px;

	@media (min-width: 48em) {
		font-size: 16px;
	}
}

h1, h2 {
    font-size: 1em;
    font-weight: 500;
	text-transform: uppercase;
	margin: 0;
	text-align: center;
}


// Diagonality
.section-diagonal {
	position: relative;
	overflow: hidden;
}

.section-diagonal--upwards::before {
	content: '';
	display: block;
	width: 105%;
	height: 100px;
	height: 7.5vw;
	position: absolute;
	background-color: white;
	bottom: -50px;
	bottom: -3.7vw;
	transform: rotateZ(-4deg)
}

.section-diagonal--downwards::after {
	content: '';
	display: block;
	width: 105%;
	height: 100px;
	height: 7.5vw;
	position: absolute;
	background-color: white;
	top: -50px;
	top: -3.7vw;
	transform: rotateZ(4deg)
}

// Section Titles

.section-title {
	padding: 70px 0 50px;
	color: $text-color;
	letter-spacing: 0.03125em;
}

html[lang="en"] .section-title {
	font-family: Montserrat, sans-serif;
}