.footer
	background: linear-gradient(rgba($dark-green, .91), rgba($dark-green, .91)), url('./img/lake.jpg') 
	background-size: cover
	background-position: center 10%
	padding-bottom: 30px

.footer__copyright
	color: rgba($white, .2)
	text-transform: uppercase
	padding-top: 50px
	padding-left: 25px