.who-i-am {
	margin: 0 auto 50% auto;
	width: 60%;
	
	
	p {
		font-size: 24px;
		
	}
}


/*.headshot .ms-tableCell {
	vertical-align: bottom;
} */

.headshot img {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	
}