.work
	background: linear-gradient(rgba($dark-purple, .91), rgba($dark-purple, .91)), url('http://radekpalisa.com/img/sunset_q0.jpg') 
	background-size: cover
	background-position: center
	padding-bottom: 7.5vw
	padding-top: 7.5vw

.section-title--work
	color: white

.work__example
	display: flex 
	justify-content: center
	align-items: center
	flex-wrap: wrap
	padding-bottom: 70px

.screen-set
	max-width: 418px
	width: 100%
	height: auto
	margin: 0 55px 35px 10px

	@media (max-width: 65em) // before it wraps
		padding: 0 1em
		margin: 0 0 35px

	&__canvas
		width: 100%
		padding-bottom: 62%
		background-image: url('./img/screen-set.png')
		background-size: cover

		@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
			background-image: url('./img/screen-set_2x.png')

html[lang="en"] .work__example__desc
	max-width: 27em

html[lang="cs"] .work__example__desc
	max-width: 26em

html[lang="el"] .work__example__desc
	max-width: 29em

.work__example__desc
	margin: 0 1em
	
	@media (min-width: $laptop)
		margin: 0 10px 0 55px

	h3
		margin-top: 0
		font-size: 1em
		color: $highlight-color
		text-align: center
		font-family: Montserrat, sans-serif

	p 
		color: $white
		line-height: 1.8
		font-weight: 300

	&__link
		margin: 2em auto 0
		text-align: center

		a
			text-align: center
			color: $highlight-color
			text-decoration: none
			text-transform: uppercase
			font-weight: bold
			border: 1px solid $highlight-color
			padding: 8px 14px
			font-size: 12px
			transition: all 0.1s ease-in-out
			letter-spacing: 0.9px

			&:hover
				background-color: $highlight-color
				color: #000
				transition: all 0.1s ease-in-out

				VSE25CZ