
#profile-wrapper > div {
  padding: 8px;
  background-color: #fff;
  border-radius: 50%;
  max-width: 198px;
  margin: 90px auto 65px;
}

#profile-wrapper > div > img {
  display: block;
  border-radius: 50%;
}


.subtitle {
  font-size: 19px;
  font-weight: 600;
  color: #757575;
}

.scribble--intro {
  position: absolute;
  left: 35px;
  top: 20px;
}