#Intro-backdrop {
  --mask: center / cover url('/src/static/shape-1.svg')
}

#Intro-profile-wrapper > div {
  padding: 8px;
  background-color: #fff;
  border-radius: 50%;
  max-width: 198px;
  margin: 50px auto 65px;
}

#Intro-profile-wrapper > div > img {
  display: block;
  border-radius: 50%;
}

#Intro-bottom-scribble {
  position: absolute;
  bottom: 16px;
  left: 0;
  width: 100%;
}


.subtitle {
  font-size: 19px;
  font-weight: 600;
  color: #757575;
}

.scribble--intro {
  position: absolute;
  left: 35px;
  top: 20px;
}