doctype html
html(lang="el")
	head
		include html5shiv.jade
		title Radek Palisa
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="alternate", hreflang="x-default", href="http://www.radekpalisa.com/")
		link(rel="alternate", hreflang="cs", href="http://www.radekpalisa.com/cs/")
		link(href="https://fonts.googleapis.com/css?family=Montserrat|Roboto:300,400,500,700&subset=greek-ext,latin-ext" rel="stylesheet")
		link(rel="stylesheet" href="../style-min.css")
		include favicon.jade
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
		
	body

		block body

		script(src="../js/functions.js")


		
		