extends partials/skeleton.jade

block body
	header.header.section-diagonal.section-diagonal--upwards
		//- nav.nav
		//- 	ul.lang-options
		//- 		li: a(href="index.html").lang__btn.lang__btn--activated En
		//- 		li: a(href="cs/index.html").lang__btn Cs
		//- 		li: a(href="gr/index.html").lang__btn Ελ

		//- 	ul.nav__list
		//- 		li: a(href="#about") About
		//- 		li: a(href="#work") Work
		//- 		li: a(href="#contact") Contact
		.logo
			h1.logo__title Radek Palisa
			p.logo__desc Front-End Developer

	section.about#about
		h2.section-title.section-title--about About
		section.about__graphic
			figure.about-icon.about-icon--pencil
				include partials/icons/cafe.jade
				figcaption Coffee
			figure.about-icon.about-icon--code
				include partials/icons/edit.jade
				figcaption Design
			figure
				img.profile-pic(src="http://radekpalisa.com/img/headshot.jpg", alt="a profile picture of me")
			figure.about-icon.about-icon--responsive
				include partials/icons/code.jade
				figcaption Code
			figure.about-icon.about-icon--wordpress
				include partials/icons/lightbulb.jade
				figcaption Solution
		p.about__opener Hi, I'm Radek.
		p.about__intro I’m a Web Developer from the Czech Republic, currently part of eBay’s EU WebDev team. In my spare time, I'm learning German and keeping up with the ever changing landscape of the web industry.

	section.work.section-diagonal.section-diagonal--downwards.section-diagonal--upwards
		h2.section-title.section-title--work#work My story
		//- section.work__example
		//- 	.screen-set
		//- 		.screen-set__canvas
		//- 	.work__example__desc
		//- 		h3 Auto Caravan Sport s.r.o.
		//- 		p A static website with the purpose of stating business intent as well as a personal presentation of the client. To reflect this, I opted for one-page design with a number of sub-pages for 'learn-more' content. Coded semantically in HTML5, modularly in CSS3, with custom Jquery and one external JS plugin for image sliding. It is fully responsive with the design accommodating different screen sizes accordingly.
		//- 		.work__example__desc__link
		//- a(href="http://autocaravansport.cz") Go To Site
		.accordion-outer			
			section.accordion
				button#ctrl1.accordion-trigger(aria-controls="sec1", aria-expanded="true")
					img.logo-sap(src="/img/sap-optimed.svg")
				#sec1.accordion-content(labelledby="ctrl1", role="region", aria-hidden="false")
					p I came out of university with a degree, which allowed me having elaborated discourses with anyone willing to listen at a local pub, but which proved rather difficult to get me a job. Starting work in Data Management in SAP was a first step to a remedy. Having learned the ins and outs of the job, however, the tasks became very monotonous and repetitive. After a brief mid-life crisis in my mid-twenties, I discovered coding.
				button#ctrl2.accordion-trigger(aria-controls="sec2", aria-expanded="false")
					img.logo-acs(src="img/acs-optimed.svg")
				#sec2.accordion-content(labelledby="ctrl2", role="region", aria-hidden="true")
					p After a year of intensive, daily code learning in my spare time, I decided to leave SAP. I wanted  to be coding full-time and knew that I needed experience. Fortunately, my father was imprudent enough to entrust me with building a web presence for his small business, Auto Caravan Sport. Finally, I found myself applying previously learned design and UX principles on a real project. I was writing for-production code and dealing with various browser quirks. Internet Explorer started haunting me in my dreams.
				button#ctrl3.accordion-trigger(aria-controls="sec3", aria-expanded="false")
					img.logo-alensa(src="/img/alensa-optimed.svg")
				#sec3.accordion-content(labelledby="ctrl3", role="region", aria-hidden="true")
					p Alensa was a turning point for me. After slightly more than one year, I progressed from did-you-try-to-turn-it-off-and-on type of knowledge to a full time job as a Front-End Developer. At Alensa, I started connecting the dots about server-client communication, fetching and ajaxing, and got introduced to PHP. I took part in the shaping the UI/UX of a successful e-commerce company. Above all, I was increasingly diving into Javascript both at work and in my spare time.
				button#ctrl4.accordion-trigger(aria-controls="sec4", aria-expanded="false")
					img.logo-ebay(src="img/ebay-optimed.svg")
				#sec4.accordion-content(labelledby="ctrl4", role="region", aria-hidden="true")
					p I am currently part of eBay’s EU WebDev team. we support Global Marketing operations with coding landing pages for campaigns. At eBay, we strive to deliver best possible user experience including.

	section.contact#contact
		h2.section-title.section-title--contact Contact
		hr
		.contact__email
			a(href="mailto:radek.palisa@gmail.com", target="_blank") radek.palisa@gmail.com
		hr
		p.contact__findme find me on
		.social-icons
			a.icon(href="https://www.linkedin.com/in/radek-palisa-96332886" title="LinkedIn")
				.icon__canvas.icon__canvas--linkedin
			a.icon(href="https://github.com/Radek-Palisa" title="GitHub")
				.icon__canvas.icon__canvas--github
			a.icon(href="https://www.instagram.com/radekpalisa" title="Instagram")
				.icon__canvas.icon__canvas--instagram

	footer.footer.section-diagonal.section-diagonal--downwards
		p.footer__copyright &#169; 2018 Radek Palisa
		//- ul.nav__list
		//- 	li: a(href="#about") About
		//- 	li: a(href="#work") Work
		//- 	li: a(href="#contact") Contact
