extends partials/skeleton.jade

block body
	header.header.section-diagonal.section-diagonal--upwards
		nav.nav
			ul.lang-options
				li: a(href="index.html").lang__btn.lang__btn--activated En
				li: a(href="cs/index.html").lang__btn Cs
				li: a(href="gr/index.html").lang__btn Ελ

			ul.nav__list
				li: a(href="#about") About
				li: a(href="#work") Work
				li: a(href="#contact") Contact
		.logo
			h1.logo__title Radek Palisa
			p.logo__desc Web Design &amp Development

	section.about#about
		h1.section-title.section-title--about About
		section.about__graphic
			figure.about-icon.about-icon--pencil
				i.material-icons local_cafe
				figcaption Coffee
			figure.about-icon.about-icon--code
				i.material-icons edit
				figcaption Design
			figure
				img.profile-pic(src="http://radekpalisa.com/img/headshot.jpg", alt="a profile picture of me")
			figure.about-icon.about-icon--responsive
				i.material-icons code
				figcaption Code
			figure.about-icon.about-icon--wordpress
				i.material-icons lightbulb_outline
				figcaption Solution
		p.about__opener Hi, I'm Radek.
		p.about__intro I am an aspiring Web Developer and Designer from the Czech Republic. Make sure to check out my work and let me know what you think.

	section.work.section-diagonal.section-diagonal--downwards.section-diagonal--upwards
		h1.section-title.section-title--work#work My Latest Work
		section.work__example
			.screen-set
				.screen-set__canvas
			.work__example__desc
				h2 Auto Caravan Sport s.r.o.
				p A static website with the purpose of stating business intent as well as a personal presentation of the client. To reflect this, I opted for one-page design with a number of sub-pages for 'learn-more' content. Coded semantically in HTML5, modularly in CSS3, with custom Jquery and one external JS plugin for image sliding. It is fully responsive with the design accommodating different screen sizes accordingly.
				.work__example__desc__link
					a(href="http://autocaravansport.cz") Go To Site

	section.contact#contact
		h1.section-title.section-title--contact Contact
		hr
		.contact__email
			a(href="mailto:radek.palisa@gmail.com", target="_blank") radek.palisa@gmail.com
		hr
		p.contact__findme find me on
		.social-icons
			a.icon(href="https://www.linkedin.com/in/radek-palisa-96332886" title="LinkedIn")
				.icon__canvas.icon__canvas--linkedin
			a.icon(href="https://github.com/Radek-Palisa" title="GitHub")
				.icon__canvas.icon__canvas--github
			a.icon(href="https://www.instagram.com/radekpalisa" title="Instagram")
				.icon__canvas.icon__canvas--instagram

	footer.footer.section-diagonal.section-diagonal--downwards
		p.footer__copyright Copyright 2016 Radek Palisa
		ul.nav__list
			li: a(href="#about") About
			li: a(href="#work") Work
			li: a(href="#contact") Contact
