doctype html
html(lang="en")
	head
		title Radek Palisa | Front-End Developer
		meta(charset="utf-8")
		meta(name="description" content="I am a Front-End Developer. I specialize in HTML/CSS/JS.")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css?family=Montserrat:400,500" rel="stylesheet")
		include partials/favicon.pug

	body
		main.main
			header.header.section-diagonal.section-diagonal--upwards
				.logo
					h1.logo__title Radek Palisa
					p.logo__desc Front-End Developer

			section.about#about
				h2.section-title.section-title--about Hi, I'm Radek.
				section.about__graphic
					figure.about-icon.about-icon--pencil
						include partials/icons/cafe.pug
						figcaption Coffee
					figure.about-icon.about-icon--code
						include partials/icons/edit.pug
						figcaption Design
					figure
						img.profile-pic(src="./images/headshot.jpg", alt="a profile picture of me")
					figure.about-icon.about-icon--responsive
						include partials/icons/code.pug
						figcaption Code
					figure.about-icon.about-icon--wordpress
						include partials/icons/lightbulb.pug
						figcaption Solution
				p.about__intro I’m a Web Developer from the Czech Republic, currently living in Spain.

			section.work.section-diagonal.section-diagonal--downwards.section-diagonal--upwards
				h2.section-title.section-title--work#work My story
				.accordion-outer
					div
						.accordion
							.tracker
								section.accordion-item
									button.accordion-trigger
										img.logo-sap(src="./images/sap-optimed.svg", alt="SAP")
										span Feb 2015
									.accordion-content
										p <span>February 2015</span>I came out of university with a degree which allowed me to hold elaborated discourses with anyone willing to listen at the local pub, but which proved rather difficult to helping me land a job. Working in Data Management in SAP was the first step to a remedy. However, after learning the ins and outs of the job, the tasks became very monotonous and repetitive. During a brief mid-life crisis in my mid-twenties, I discovered coding.
								section.accordion-item
									button.accordion-trigger
										img.logo-acs(src="./images/acs-optimed.svg", alt="Auto Caravan Sport logo")
										span Mar 2016
									.accordion-content
										p <span>March 2016</span>After a year of intensive code learning in any spare moment I had, I decided to leave SAP. I wanted  to be coding full-time and knew that I needed more experience. Fortunately, my father was imprudent enough to entrust me with building a web presence for his small business, <a style="color: white; text-decoration: none; border-bottom: 1px solid white" href="http://www.autocaravansport.cz">Auto Caravan Sport</a>. I found myself applying my learned design and UX principles to a real project. I was writing for-production code and dealing with various browser quirks. Internet Explorer began to haunt my dreams.
								section.accordion-item
									button.accordion-trigger
										img.logo-alensa(src="./images/alensa-optimed.svg", alt="Alensa logo")
										span Sep 2016
									.accordion-content
										p <span>September 2016</span>Alensa was a turning point for me. After a little over a year, I progressed from the “did-you-try-to-turn-it-off-and-on” type of knowledge to a full time job as a Front-End Developer. At Alensa, I started connecting the dots about server-client communication, APIs, and was introduced to PHP. I helped shape the UI/UX of a successful e-commerce company. Above all, I was increasingly diving into Javascript both at work and in my personal projects.
								section.accordion-item
									button.accordion-trigger
										img.logo-ebay(src="./images/ebay-optimed.svg", alt="eBay logo")
										span Jul 2017
									.accordion-content
										p <span>July 2017</span>In eBay, I grew and matured considerably as a developer. I joined the european team that was responsible for supporting Marketing operations. Some of the stack we inherited was quite legacy, but there was a lot to learn from that as well. One thing that stuck with me was the attention to web accessibility. During my time in eBay, I learned to to use React and write backend Javascript.
							section.accordion-item
								button.accordion-trigger.accordion-trigger--last
									img.logo-ebay(src="./images/kiwi-white-optimed.svg", alt="kiwi.com logo")
									span Sep 2018
								.accordion-content
									p <span>September 2018</span>I am currently working as a Javascript Developer at Kiwi.com. Kiwi is a company with a great engineering culture and I am excited to be working on a product that is used by thousands of unique users every day.

			section.contact#contact
				h2.section-title.section-title--contact Contact
				hr
				.contact__email
					a(href="mailto:radek.palisa@gmail.com", target="_blank") radek.palisa@gmail.com
				hr
				p.contact__findme find me on
				.social-icons
					a.icon(href="https://www.linkedin.com/in/radek-palisa-96332886" title="LinkedIn")
						.icon__canvas.icon__canvas--linkedin
					a.icon(href="https://github.com/Radek-Palisa" title="GitHub")
						.icon__canvas.icon__canvas--github
					a.icon(href="https://www.instagram.com/radekpalisa" title="Instagram")
						.icon__canvas.icon__canvas--instagram

			footer.footer.section-diagonal.section-diagonal--downwards
				p.footer__copyright &#169; 2018 Radek Palisa

