doctype html
html(lang="cs")
	head
		include html5shiv.jade
		meta(charset="utf-8")
		title Radek Palisa | Tvorba a design webu
		meta(name="description" content="Navrhuji a tvořím webové stránky. Responsive web design. Wordpress")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="alternate", hreflang="x-default", href="http://www.radekpalisa.com/")
		link(rel="alternate", hreflang="cs", href="http://www.radekpalisa.com/cs/")
		link(rel="alternate", hreflang="el", href="http://www.radekpalisa.com/gr/")
		link(href="https://fonts.googleapis.com/css?family=Montserrat|Roboto:300,400,500,700&subset=greek-ext,latin-ext" rel="stylesheet")
		include ../../partials/stylesheet.jade
		include favicon.jade
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
		
	body

		block body

		script(src="../js/functions.js")


		
		