:root {
  --color-primary: #10638B;
  --color-typography-body: #5A5A5A;
}


@import './_base.css';
@import './typography.css';
@import './components/Container.css';
@import './components/Card.css';
@import './components/CardBackdrop.css';

@import './cards/Intro.css';
@import './cards/About.css';