.text-center {
  text-align: center;
}

.typography-display {
  margin: 0;
  font-size: 35px;
  font-weight: 700;
  line-height: 1.1;
  color: var(--color-primary);
}

.typography-h1 {
  font-size: 28px;
  font-weight: 700;
  color: var(--color-primary);
}

.typography-h3 {
  font-size: 17px;
  font-weight: 700;
  color: var(--color-primary);
}

.typography-body {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.7;
  color: var(--color-typography-body);
}

.typography-scribble {
  font-family: 'Rock Salt', cursive;
  letter-spacing: 1.45px; /* 14.5% */
  line-height: 1.5;
  font-size: 10px;
  color: rgb(0, 0, 0, .21);
}