// Breakpoints
$mobile : 26em;
$laptop : 48em;

// to be set to 91% opacity
$dark-blue : #282839;
$dark-purple : #330033;
$dark-green : #063406;

$white : #fff;
$highlight-color : #f2b632; // yellowish
$dark-grey : #677077;
$text-color: #4e4e53;
$light-grey : #b5b5b7;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
	font-family: Montserrat, sans-serif;
	line-height: 1.5;
	font-size: 15px;

	@media (min-width: 48em) {
		font-size: 16px;
	}

	@media (min-width: 1050px) {
		background-image: linear-gradient(120deg, rgba(96,113,113, .87) 0%, #4f595a 100%);
	}
}

.main {
	@media (min-width: 1050px) {
		width: 90vw;
		margin: 5vw auto;
		background-color: #fff;
		box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
	}
	@media (min-width: 1500px) {
		width: 80vw;
	}
}

h1, h2 {
    font-size: 1em;
    font-weight: 500;
	text-transform: uppercase;
	margin: 0;
	text-align: center;
}


// Diagonality
.section-diagonal {
	position: relative;
	overflow: hidden;
}

.section-diagonal--upwards::before,
.section-diagonal--downwards::after {
	content: '';
	display: block;
	width: 105%;
	height: 100px;
	height: 7.5vw;
	position: absolute;
	background-color: white;
}

.section-diagonal--upwards::before {
	bottom: -50px;
	bottom: -3.7vw;
	transform: rotateZ(-4deg)
}

.section-diagonal--downwards::after {
	top: -50px;
	top: -3.7vw;
	transform: rotateZ(4deg)
}

// Section Titles

.section-title {
    font-family: Montserrat, sans-serif;
	padding: 70px 0 50px;
	color: $text-color;
	letter-spacing: 0.03125em;
}

.section-title--about {
	text-transform: none;
	font-weight: 400;
}