doctype html
html(lang="en")
	head
		title Radek Palisa | Front-End Developer
		meta(charset="utf-8")
		meta(name="description" content="I am a Front-End Developer. I specialize in HTML/CSS/JS.")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		//- link(rel="alternate", hreflang="x-default", href="http://www.radekpalisa.com/")
		//- link(rel="alternate", hreflang="cs", href="http://www.radekpalisa.com/cs/")
		//- link(rel="alternate", hreflang="el", href="http://www.radekpalisa.com/gr/")
		//- link(href="https://fonts.googleapis.com/css?family=Montserrat|Roboto:300,400,500,700&subset=greek-ext,latin-ext" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Montserrat:400,500|Roboto:300,400" rel="stylesheet")
		link(rel="stylesheet" href="style-min.css?v=1.4")
		include favicon.jade
		//- script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
	
	body

		block body

		script(src="js/funcs-min.js?v=1.1")


		
		