doctype html
html(lang="en")
	head
		title Radek Palisa | Front-End Developer
		meta(charset="utf-8")
		meta(name="description" content="I am a Front-End Developer. I specialize in HTML/CSS/JS.")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css?family=Montserrat:400,500" rel="stylesheet")
		link(rel="stylesheet" href="style-min.css?v=1.10")
		include favicon.jade
	
	body

		block body

		script(src="js/funcs-min.js?v=1.3")


		
		